QLabel#LabelName {
    font-weight: bold;
    font-size: 16pt;
    font-family: 'Poppins Regular';
    font-style: normal;
    color: rgba(0,0,0,0.7);
    background-color: transparent;
}

QLabel#LabelMail {
    font-weight: bold;
    font-size: 10pt;
    font-family: 'Roboto Black';
    font-style: normal;
    color: rgba(0,0,0,0.5);
    background-color: transparent;
}

QFrame#ButtonEditProfile {
    background-color: rgba(121, 169, 143, 0.823);
    border-radius: 4px;
}

QFrame#ButtonEditProfile:hover {
    background-color: rgb(91, 188, 141);
}

QLabel#LabelContacts {
    font-weight: bold;
    font-size: 11pt;
    font-family: 'Roboto Black';
    font-style: normal;
    color: rgba(70, 68, 68, 0.8);
    background-color: transparent;
}

QPushButton#ButtonAddContact {
    background-color: rgba(121, 169, 143, 0.823);
    color: rgb(0, 0, 0);
    border-radius: 4px;
    font-weight: 500;
    font-size: 10pt;
    font-family: 'Roboto';
    font-style: normal;
    padding-left: 18px;
}

QPushButton#ButtonAddContact:hover {
    background-color: rgb(91, 188, 141);
}

QScrollArea#scroll_area {
    border: none;
    background-color: transparent;
}

QLabel#LabelNameContact {
    font-weight: bold;
    font-size: 10pt;
    font-family: 'Roboto Black';
    font-style: normal;
    color: rgba(21, 21, 21, 0.8);
    background-color: transparent;
}

QLabel#LabelTelefono {
    font-weight: bold;
    font-size: 10pt;
    font-family: 'Roboto';
    font-style: normal;
    color: rgba(0,0,0,0.5);
    background-color: transparent;
}

QPushButton#ButtonDelete {
    background-color: rgba(177, 83, 83, 0.823);
    border: none;
    border-radius: 4px;
}

QPushButton#ButtonDelete:hover {
    background-color: rgba(189, 68, 68, 0.823);
}